@use "./base.scss";

// put your custom CSS here!
:root {
    --headerFont: 'Spectral SC', sans-serif!important;
    --titleFont: 'Spectral SC', sans-serif!important;
    --bodyFont: 'Spectral', sans-serif!important;
}
body, p {font-family:var(--bodyFont)!important;}
body h1 {font-weight:normal!important;}
h1, h2, h3, h4, h5, a, .explorer {
    font-family: var(--headerFont)!important;
    font-weight: normal!important;
}
a.internal:hover, a:hover {
    text-decoration: none!important;
}
